include includes/_files.pug

doctype html

html( lang="en" )
	include includes/head.pug

	body

		nav
			a( href="PATTERNS/CC0/" ) CC0 &rarr;

		.gallery
			each image in images
				figure
					a( href="WMDEMO/" + image )
						img( src="WMDEMO-thumb/" + image )
					if 0 < image.search('--')
						figcaption #{ image.split('--')[0] }
