include includes/_files.pug

doctype html

html( lang="en" )
	include includes/head.pug

	body

		nav
			a( href="PATTERNS/CC0/" ) CC0 &rarr;

		ul
			each image in images
				li
					a( href="WMDEMO/" + image )
						img( src="WMDEMO-thumb/" + image )
