-
	var images = [

		'custom/logo-angelica.png',
		'custom/logo-angelica--gray.png',
		'custom/logo-bjork.png',
		'custom/logo-bjork--gray.png',
		'custom/logo-cindy.png',
		'custom/logo-cindy--gray.png',
		'custom/logo-deborah.png',
		'custom/logo-deborah--gray.png',
		'custom/logo-eimear.png',
		'custom/logo-eimear--gray.png',
		'custom/s--b.png',
		'custom/signature-jane-doe-black.png',
		'custom/signature-jane-doe-white.png',
		'custom/s--w.png',

		'PDR/annualreportofbu23smit_0183.jpg',
		'PDR/annualreportofbu23smit_0235.jpg',
		'PDR/annualreportofbu23smit_0354.jpg',
		'PDR/annualreportofbu23smit_0402.jpg',
		'PDR/annualreportofbu23smit_0404.jpg',
		'PDR/annualreportofbu23smit_0460.jpg',

		'RAWPIXEL/418603.jpg',
		'RAWPIXEL/428230--1.jpg',
		'RAWPIXEL/428230--2.jpg',
		'RAWPIXEL/428230--3.jpg',
		'RAWPIXEL/428230--4.jpg',
		'RAWPIXEL/431557.jpg',
		'RAWPIXEL/431560.jpg',
		'RAWPIXEL/431570.jpg',
		'RAWPIXEL/436480.jpg',
		'RAWPIXEL/436522.jpg',
		'RAWPIXEL/436680.jpg',
		'RAWPIXEL/439973.jpg',
		'RAWPIXEL/440092.jpg',
		'RAWPIXEL/440155.jpg',
		'RAWPIXEL/440173.jpg',
		'RAWPIXEL/440267.jpg',
		'RAWPIXEL/440577.jpg',
		'RAWPIXEL/556364.jpg',
		'RAWPIXEL/556468.jpg',
		'RAWPIXEL/556532.jpg',
		'RAWPIXEL/556578.jpg',
		'RAWPIXEL/556608.jpg',
		'RAWPIXEL/556665.jpg',
		'RAWPIXEL/556676.jpg',
		'RAWPIXEL/556745.jpg',
		'RAWPIXEL/562405.jpg',
		'RAWPIXEL/572412.jpg',
		'RAWPIXEL/572620.jpg',
		'RAWPIXEL/572760.jpg',
		'RAWPIXEL/572898.jpg',
		'RAWPIXEL/572962.jpg',
		'RAWPIXEL/572999.jpg',
		'RAWPIXEL/573354.jpg',
		'RAWPIXEL/843193.jpg',
		'RAWPIXEL/1054562.jpg',
		'RAWPIXEL/1054570.jpg',
		'RAWPIXEL/1054577.jpg',
		'RAWPIXEL/2049808.jpg',
		'RAWPIXEL/2049882.jpg',
		'RAWPIXEL/2049905.jpg',
		'RAWPIXEL/2206375.jpg',
		'RAWPIXEL/2206377.jpg',
		'RAWPIXEL/2206380.jpg',
		'RAWPIXEL/2206387.jpg',
		'RAWPIXEL/2206388.jpg',
		'RAWPIXEL/2289522.jpg',
		'RAWPIXEL/2289563.jpg',
		'RAWPIXEL/2289566.jpg',
		'RAWPIXEL/2289585.jpg',
		'RAWPIXEL/2289651.jpg',
		'RAWPIXEL/2289691.jpg',
		'RAWPIXEL/2297766.jpg',
		'RAWPIXEL/2297988.jpg',
		'RAWPIXEL/2380666.jpg',
		'RAWPIXEL/2380668.jpg',
		'RAWPIXEL/2380670.jpg',
		'RAWPIXEL/2545031.jpg',
		'RAWPIXEL/2554041.jpg',
		'RAWPIXEL/2562544.jpg',
		'RAWPIXEL/2751330.jpg',
		'RAWPIXEL/2776944.jpg',
		'RAWPIXEL/2880186.jpg',
		'RAWPIXEL/2880199.jpg',
		'RAWPIXEL/2880447.jpg',
		'RAWPIXEL/2880484.jpg',
		'RAWPIXEL/3014322.jpg',
		'RAWPIXEL/3045272.jpg',
		'RAWPIXEL/3045303.jpg',
		'RAWPIXEL/3063904.jpg',
		'RAWPIXEL/3063912.jpg',
		'RAWPIXEL/3063917.jpg',
		'RAWPIXEL/3063921.jpg',
		'RAWPIXEL/3063958.jpg',
		'RAWPIXEL/3063960.jpg',
		'RAWPIXEL/3064476.jpg',
		'RAWPIXEL/3064488.jpg',
		'RAWPIXEL/3064491.jpg',
		'RAWPIXEL/3064503.jpg',
		'RAWPIXEL/3064804.jpg',
		'RAWPIXEL/3065120.jpg',
		'RAWPIXEL/3282506.jpg',
		'RAWPIXEL/3282993.jpg',
		'RAWPIXEL/3283222.jpg',
		'RAWPIXEL/3284556.jpg',
		'RAWPIXEL/3285090.jpg',
		'RAWPIXEL/3285532.jpg',
		'RAWPIXEL/3285639.jpg',
		'RAWPIXEL/3286339.jpg',
		'RAWPIXEL/3286706.jpg',
		'RAWPIXEL/3298934.jpg',
		'RAWPIXEL/3300298.jpg',
		'RAWPIXEL/3300668.jpg',
		'RAWPIXEL/3304542.jpg',
		'RAWPIXEL/3304908.jpg',
		'RAWPIXEL/3305387.jpg',
		'RAWPIXEL/3339303.jpg',
		'RAWPIXEL/3339305.jpg',

	];
