//- The files list can be obtained in FreeCommander by selecting all files
//- and then in Edit → Copy to Clipboard → Copy file path to clipboard (Web).
-
	var images = [
		'abstract--pexels-scott-webb-4883446.jpg',
		'abstract--pexels-scott-webb-4883448.jpg',
		'abstract--pexels-scott-webb-4930236.jpg',
		'animals--a-curly-brown-haired-dog-in-a-red-bow-tie.jpg',
		'animals--a-smiling-big-teddy-bear-like-dog.jpg',
		'animals--dapper-dog-gentleman-with-bowtie-on-black-background.jpg',
		'animals--dapper-dog-gentleman-with-bowtie-posing-on-black-background.jpg',
		'animals--fluffy-puppy-portrait.jpg',
		'animals--grey-poodle-dog-tilting-head.jpg',
		'animals--happy-dog-wears-flowers.jpg',
		'animals--happy-husky.jpg',
		'animals--pexels-alan-quirván-3969716.jpg',
		'animals--pexels-alan-quirván-3969717.jpg',
		'animals--pexels-aloïs-moubax-3523317.jpg',
		'animals--pexels-charles-1851188.jpg',
		'animals--pexels-dids-3635547.jpg',
		'animals--pexels-helena-lopes-3895277.jpg',
		'animals--pexels-helena-lopes-3908803.jpg',
		'animals--pexels-joan-montaner-1694838.jpg',
		'animals--pexels-josh-hild-3009442.jpg',
		'animals--pexels-marco-de-groot-1557178.jpg',
		'animals--pexels-pixabay-56034.jpg',
		'animals--pexels-samson-katt-5256726.jpg',
		'animals--pexels-tom-verdoot-3722196.jpg',
		'animals--real-dog-stuffed-dog.jpg',
		'animals--sleeping-posing-puppy.jpg',
		'animals--young-dog-looking-up-excitedly-awaiting-a-treat.jpg',
		'architecture--pexels-anastasia-shuraeva-7664138.jpg',
		'architecture--pexels-pixabay-358558.jpg',
		'architecture--pexels-thirdman-5582590.jpg',
		'architecture--pexels-thirdman-5582599.jpg',
		'architecture--pexels-thirdman-5582871.jpg',
		'architecture--pexels-thirdman-5583248.jpg',
		'architecture--pexels-thirdman-5583250.jpg',
		'architecture--pexels-thirdman-5583259.jpg',
		'architecture--pexels-thirdman-5583620.jpg',
		'architecture--pexels-thirdman-5584052.jpg',
		'art--pexels-anna-shvets-3987248.jpg',
		'art--pexels-anna-shvets-5682054.jpg',
		'art--pexels-anna-shvets-5682056.jpg',
		'art--pexels-anna-shvets-5682152.jpg',
		'art--pexels-anna-shvets-5682156.jpg',
		'art--pexels-anna-shvets-5682315.jpg',
		'art--pexels-anna-shvets-5682330.jpg',
		'art--pexels-anna-shvets-5682331.jpg',
		'art--pexels-anna-shvets-5682333.jpg',
		'art--pexels-cottonbro-4272618.jpg',
		'art--pexels-konstantin-mishchenko-6160482.jpg',
		'art--pexels-konstantin-mishchenko-6160483.jpg',
		'art--pexels-konstantin-mishchenko-6160873.jpg',
		'art--pexels-konstantin-mishchenko-6160879.jpg',
		'art--pexels-konstantin-mishchenko-6160887.jpg',
		'art--pexels-taryn-elliott-6184413.jpg',
		'art--pexels-taryn-elliott-6184414.jpg',
		'art--pexels-taryn-elliott-6184418.jpg',
		'art--pexels-taryn-elliott-6184421.jpg',
		'art--pexels-taryn-elliott-6184431.jpg',
		'art--pexels-thirdman-6193532.jpg',
		'art--pexels-thirdman-6193779.jpg',
		'art--pexels-thirdman-6193850.jpg',
		'art--pexels-thirdman-6193904.jpg',
		'art--pexels-thirdman-6193905.jpg',
		'art--pexels-thirdman-6193911.jpg',
		'art--pexels-thirdman-6194027.jpg',
		'art--pexels-thirdman-6194028.jpg',
		'art--pexels-thirdman-6194037.jpg',
		'business--ernesto-leon-4H_I-HRjkyA-unsplash.jpg',
		'business--jahongir-ismoilov-RcjvFd1k18o-unsplash.jpg',
		'business--matthew-t-rader-1shWwOrkxEM-unsplash.jpg',
		'business--olga-dudareva-u7RzJrb-zeY-unsplash.jpg',
		'business--pexels-colin-lloyd-3751006.jpg',
		'business--pexels-sora-shimazaki-5668882.jpg',
		'business--pexels-thirdman-5060805.jpg',
		'business--pexels-thirdman-5060810.jpg',
		'business--riley-crawford-99HLgU4IHLY-unsplash.jpg',
		'business--robson-hatsukami-morgan-NKr0qBAkU4s-unsplash.jpg',
		'business--roman-fox-f1cC3tDFkf8-unsplash.jpg',
		'cc0--SAAM-1985.66.165695_1.jpg',
		'cc0--SAAM-1985.66.165695_1--gray.jpg',
		'cc0--SAAM-1985.66.165696_1.jpg',
		'cc0--SAAM-1985.66.165696_1--gray.jpg',
		'cc0--SAAM-1985.66.165717_1.jpg',
		'cc0--SAAM-1985.66.165717_1--gray.jpg',
		'cc0--SAAM-1985.66.165723_1.jpg',
		'cc0--SAAM-1985.66.165723_1--gray.jpg',
		'cc0--SAAM-1985.66.165724_1.jpg',
		'cc0--SAAM-1985.66.165724_1--gray.jpg',
		'cc0--StockSnap_ABULAGIU2Z.jpg',
		'cc0--StockSnap_HIH67XC5G0.jpg',
		'cc0--StockSnap_L4SNGYZWL4.jpg',
		'cc0--StockSnap_OE0F9BHXJQ.jpg',
		'cc0--StockSnap_S5GFL81F72.jpg',
		'cc0--StockSnap_WP7CVEDSVY.jpg',
		'coach--pexels-karolina-grabowska-4491461.jpg',
		'coach--pexels-katerina-holmes-5905709.jpg',
		'coach--pexels-shvets-production-7176245.jpg',
		'coach--pexels-shvets-production-7176291.jpg',
		'coach--pexels-shvets-production-7176293.jpg',
		'crafts--pexels-andrea-piacquadio-3771106.jpg',
		'crafts--pexels-andrea-piacquadio-3894238.jpg',
		'crafts--pexels-andrea-piacquadio-3894240.jpg',
		'crafts--pexels-andrea-piacquadio-3894245.jpg',
		'crafts--pexels-andrea-piacquadio-3894271.jpg',
		'crafts--pexels-andrea-piacquadio-3894272.jpg',
		'crafts--pexels-andrea-piacquadio-3894307.jpg',
		'crafts--pexels-andrea-piacquadio-3894373.jpg',
		'crafts--pexels-anna-shvets-5894051.jpg',
		'crafts--pexels-anna-shvets-5894056.jpg',
		'crafts--pexels-anna-shvets-5894064.jpg',
		'crafts--pexels-anna-shvets-5894086.jpg',
		'crafts--pexels-anna-shvets-5894088.jpg',
		'crafts--pexels-anna-shvets-5894095.jpg',
		'crafts--pexels-anna-shvets-5894096.jpg',
		'crafts--pexels-anna-shvets-5894225.jpg',
		'crafts--pexels-anna-shvets-5894227.jpg',
		'crafts--pexels-anna-shvets-5894239.jpg',
		'crafts--pexels-anna-shvets-5894297.jpg',
		'education--pexels-thirdman-5649520.jpg',
		'education--pexels-thirdman-5649893.jpg',
		'fashion--pexels-konstantin-mishchenko-4690510.jpg',
		'fashion--pexels-konstantin-mishchenko-4690511.jpg',
		'fashion--pexels-konstantin-mishchenko-4690512.jpg',
		'fashion--pexels-konstantin-mishchenko-4690528.jpg',
		'food--foodiesfeed.com_argentinian-beef-steak-sandwich.jpg',
		'food--foodiesfeed.com_awesome-beef-hotdog.jpg',
		'food--foodiesfeed.com_blueberry-cheesecake-with-poppyseed.jpg',
		'food--foodiesfeed.com_cheese-burger-with-fried-onion-on-a-tray.jpg',
		'food--foodiesfeed.com_close-up-of-a-juicy-beef-burger-in-a-restaurant.jpg',
		'food--foodiesfeed.com_creme-roll-with-chocolate-and-blueberries-on-top.jpg',
		'food--foodiesfeed.com_grilled-cheddar-and-bacon-burger-detail.jpg',
		'food--foodiesfeed.com_pulled-pork-burger.jpg',
		'food--foodiesfeed.com_quick-pasta-to-go.jpg',
		'food--foodiesfeed.com_tacos-with-pulled-pork-fresh-vegetables-and-cream.jpg',
		'health--pexels-cottonbro-4098150.jpg',
		'health--pexels-cottonbro-4098151.jpg',
		'health--pexels-cottonbro-4098152.jpg',
		'health--pexels-cottonbro-4098221.jpg',
		'health--pexels-cottonbro-4098252.jpg',
		'health--pexels-cottonbro-4098270.jpg',
		'health--pexels-cottonbro-4098274.jpg',
		'living--pexels-brian-hackworth-5872466.jpg',
		'living--pexels-cottonbro-6626392.jpg',
		'living--pexels-cottonbro-6626395.jpg',
		'living--pexels-cottonbro-6626748.jpg',
		'living--pexels-cottonbro-6627109.jpg',
		'living--pexels-cottonbro-6627112.jpg',
		'living--pexels-cottonbro-6627113.jpg',
		'living--pexels-maria-orlova-4906241.jpg',
		'living--pexels-maria-orlova-4906243.jpg',
		'living--pexels-maria-orlova-4906249.jpg',
		'living--pexels-maria-orlova-4906250.jpg',
		'living--pexels-maria-orlova-4906252.jpg',
		'logo-webmandesign.eu.png',
		'music--pexels-dayvison-de-oliveira-silva-6843304.jpg',
		'music--pexels-ivan-samkov-7901846.jpg',
		'music--pexels-ivan-samkov-7901948.jpg',
		'music--pexels-ivan-samkov-7901951.jpg',
		'music--pexels-ivan-samkov-7901953.jpg',
		'music--pexels-ivan-samkov-7901959.jpg',
		'music--pexels-ivan-samkov-7901962.jpg',
		'music--pexels-ivan-samkov-7901963.jpg',
		'music--pexels-ivan-samkov-7902139.jpg',
		'music--pexels-pavel-danilyuk-7520960.jpg',
		'music--pexels-pavel-danilyuk-7520976.jpg',
		'music--pexels-pavel-danilyuk-7520978.jpg',
		'music--pexels-pavel-danilyuk-7520986.jpg',
		'music--pexels-pavel-danilyuk-7520991.jpg',
		'music--pexels-pavel-danilyuk-7521046.jpg',
		'music--pexels-pavel-danilyuk-7521047.jpg',
		'music--pexels-pavel-danilyuk-7521049.jpg',
		'music--pexels-pavel-danilyuk-7521053.jpg',
		'music--pexels-pavel-danilyuk-7521069.jpg',
		'music--pexels-pnw-production-7577147.jpg',
		'music--pexels-pnw-production-7577153.jpg',
		'music--pexels-pnw-production-7577154.jpg',
		'objects--pexels-andrea-piacquadio-3808904.jpg',
		'objects--pexels-katerina-holmes-5905439.jpg',
		'objects--pexels-katerina-holmes-5905710.jpg',
		'objects--pexels-vlada-karpovich-4050325.jpg',
		'office--pexels-andrea-piacquadio-927022.jpg',
		'office--pexels-andrea-piacquadio-935756.jpg',
		'people--pexels-andrea-piacquadio-756453.jpg',
		'people--pexels-august-de-richelieu-4427610.jpg',
		'people--pexels-august-de-richelieu-4427610_cr.jpg',
		'people--pexels-august-de-richelieu-4427614.jpg',
		'people--pexels-august-de-richelieu-4427614_cr.jpg',
		'people--pexels-august-de-richelieu-4427622.jpg',
		'people--pexels-august-de-richelieu-4427622_cr.jpg',
		'people--pexels-august-de-richelieu-4427816.jpg',
		'people--pexels-august-de-richelieu-4427878.jpg',
		'people--pexels-august-de-richelieu-4427901.jpg',
		'people--pexels-cottonbro-5970616.jpg',
		'people--pexels-cottonbro-5970618.jpg',
		'people--pexels-cottonbro-5970628.jpg',
		'people--pexels-cottonbro-5971247.jpg',
		'people--pexels-cottonbro-5990043.jpg',
		'people--pexels-cottonbro-5990049.jpg',
		'people--pexels-cottonbro-5990154.jpg',
		'people--pexels-cottonbro-5990261.jpg',
		'people--pexels-cottonbro-5990263.jpg',
		'people--pexels-cottonbro-5990272.jpg',
		'plants--pexels-daria-shevtsova-887767.jpg',
		'plants--pexels-daria-shevtsova-916337.jpg',
		'plants--pexels-daria-shevtsova-916339.jpg',
		'school--pexels-ann-nekr-5797903.jpg',
		'school--pexels-august-de-richelieu-4261790.jpg',
		'school--pexels-cottonbro-4769480.jpg',
		'school--pexels-julia-m-cameron-4144100.jpg',
		'school--pexels-julia-m-cameron-4144144.jpg',
		'school--pexels-julia-m-cameron-4144222.jpg',
		'school--pexels-julia-m-cameron-4144224.jpg',
		'school--pexels-julia-m-cameron-4145153.jpg',
		'school--pexels-julia-m-cameron-4145190.jpg',
		'school--pexels-julia-m-cameron-4145347.jpg',
		'school--pexels-marcus-aurelius-4063532.jpg',
		'school--pexels-marcus-aurelius-4063587.jpg',
		'school--pexels-marcus-aurelius-4063590.jpg',
		'school--pexels-marcus-aurelius-4063617.jpg',
		'school--pexels-marcus-aurelius-4063688.jpg',
		'school--pexels-marcus-aurelius-4063690.jpg',
		'school--pexels-marcus-aurelius-4064172.jpg',
		'school--pexels-marcus-aurelius-4064173.jpg',
		'school--pexels-marcus-aurelius-4064176.jpg',
		'school--pexels-marcus-aurelius-4064232.jpg',
		'school--pexels-marcus-aurelius-4064338.jpg',
		'school--pexels-marcus-aurelius-4064417.jpg',
		'school--pexels-marcus-aurelius-4064418.jpg',
		'school--pexels-marcus-aurelius-4064647.jpg',
		'school--pexels-marcus-aurelius-4064692.jpg',
		'school--pexels-marcus-aurelius-4064697.jpg',
		'school--pexels-marcus-aurelius-4064698.jpg',
		'school--pexels-mikhail-nilov-7583935.jpg',
		'school--pexels-pavel-danilyuk-7120400.jpg',
		'school--pexels-pavel-danilyuk-7120405.jpg',
		'school--pexels-pavel-danilyuk-7120406.jpg',
		'school--pexels-pavel-danilyuk-7120409.jpg',
		'school--pexels-pavel-danilyuk-7120413.jpg',
		'school--pexels-tima-miroshnichenko-4908721.jpg',
		'school--pexels-tima-miroshnichenko-5198239.jpg',
		'school--pexels-tima-miroshnichenko-5198240.jpg',
		'school--pexels-tima-miroshnichenko-5198249.jpg',
		'school--pexels-tima-miroshnichenko-5198250.jpg',
		'school--pexels-tima-miroshnichenko-5198252.jpg',
		'school--pexels-tim-samuel-6697216.jpg',
		'school--pexels-tim-samuel-6697227.jpg',
		'school--pexels-tim-samuel-6697234.jpg',
		'school--pexels-tim-samuel-6697240.jpg',
		'school--pexels-tim-samuel-6697247.jpg',
		'school--pexels-tim-samuel-6697249.jpg',
		'school--pexels-vlada-karpovich-4050315.jpg',
		'school--pexels-vlada-karpovich-4050356.jpg',
		'school--pexels-vlada-karpovich-4050415.jpg',
		'school--pexels-vlada-karpovich-4939645.jpg',
		'school--pexels-vlada-karpovich-4939672.jpg',
		'shopping--pexels-andrea-piacquadio-919436.jpg',
		'signature-webman-design-black-320.png',
		'sport--pexels-anastasia-shuraeva-7662368.jpg',
		'sport--pexels-anastasia-shuraeva-7662374.jpg',
		'sport--pexels-anastasia-shuraeva-7662435.jpg',
		'sport--pexels-anastasia-shuraeva-7663021.jpg',
		'sport--pexels-anastasia-shuraeva-7663222.jpg',
		'sport--pexels-anastasia-shuraeva-7663226.jpg',
		'sport--pexels-anastasia-shuraeva-7663227.jpg',
		'sport--pexels-anastasia-shuraeva-7663232.jpg',
		'sport--pexels-anastasia-shuraeva-7663297.jpg',
		'sport--pexels-anastasia-shuraeva-7663297--square.jpg',
		'sport--pexels-anastasia-shuraeva-7663300.jpg',
		'sport--pexels-anastasia-shuraeva-7664136.jpg',
		'sport--pexels-anastasia-shuraeva-7664136--square.jpg',
		'sport--pexels-anastasia-shuraeva-7664139.jpg',
		'sport--pexels-anastasia-shuraeva-7664143.jpg',
		'sport--pexels-anastasia-shuraeva-7664144.jpg',
		'sport--pexels-anastasia-shuraeva-7664148.jpg',
		'sport--pexels-anastasia-shuraeva-7664152.jpg',
		'sport--pexels-anastasia-shuraeva-7664153.jpg',
		'texture--pexels-adrien-olichon-2387532.jpg',
		'texture--pexels-dom-j-310452.jpg',
		'texture--pexels-gdtography-911738.jpg',
		'texture--pexels-jan-kopřiva-5023251.jpg',
		'texture--pexels-jonathan-borba-4431922.jpg',
		'texture--pexels-namakuki-751374.jpg',
		'texture--pexels-umid-yakubov-3827693.jpg',
		'thumb--pexels-anna-shvets-5682152.jpg',
		'thumb--pexels-cottonbro-6003329.jpg',
		'thumb--pexels-gabby-k-5273618.jpg',
		'thumb--pexels-gabby-k-5303009.jpg',
		'thumb--pexels-gabby-k-5331153.jpg',
		'thumb--pexels-gabby-k-5384538.jpg',
		'thumb--pexels-max-fischer-5212703.jpg',
		'thumb--StockSnap_S5GFL81F72.jpg',
		'toys--pexels-cottonbro-3661193.jpg',
		'toys--pexels-cottonbro-3661195.jpg',
		'toys--pexels-cottonbro-3661197.jpg',
		'toys--pexels-cottonbro-3661200.jpg',
		'toys--pexels-cottonbro-3661222.jpg',
		'toys--pexels-cottonbro-3661224.jpg',
		'toys--pexels-cottonbro-3661226.jpg',
		'toys--pexels-cottonbro-3661228.jpg',
		'toys--pexels-cottonbro-3661231.jpg',
		'toys--pexels-cottonbro-3661238.jpg',
		'toys--pexels-cottonbro-3661239.jpg',
		'toys--pexels-cottonbro-3661243.jpg',
		'toys--pexels-cottonbro-3661244.jpg',
		'toys--pexels-cottonbro-3661264.jpg',
		'toys--pexels-cottonbro-3661266.jpg',
		'toys--pexels-cottonbro-3661267.jpg',
		'toys--pexels-cottonbro-3661344.jpg',
		'toys--pexels-cottonbro-3661391.jpg',
		'toys--pexels-cottonbro-3661451.jpg',
		'toys--pexels-cottonbro-3662629.jpg',
		'toys--pexels-cottonbro-3662748.jpg',
		'toys--pexels-cottonbro-3662978.jpg',
		'pexels-cottonbro-studio-4919737.jpg',
		'pexels-roland-dumke-943700.jpg',
		'pexels-joão-jesus-2480069.jpg',
		'pexels-helena-lopes-841303.jpg',
		'pexels-eberhard-grossgasteiger-2437291.jpg',
		'image-from-rawpixel-id-104948-jpeg.jpg',
		'image-from-rawpixel-id-3284497-original.jpg',
		'pexels-anton-atanasov-210808.jpg',
		'pexels-christian-heitz-842711.jpg',
		'pexels-irina-iriser-1249884.jpg',
		'pexels-leeloo-thefirst-5569535.jpg',
		'pexels-leeloo-thefirst-5569540.jpg',
		'pexels-lora-rikky-12435094.jpg',
		'pexels-lukas-hartmann-1276237.jpg',
		'pexels-maria-orlova-4906153.jpg',
		'pexels-seb-360013.jpg',
		'pexels-tobias-bjorkli-1559821.jpg',
		'pexels-viktoria-slowikowska-5677299.jpg',
		'pexels-andrea-piacquadio-3789888.jpg',
		'pexels-andrea-piacquadio-3786525.jpg',
		'pexels-andrea-piacquadio-3767392.jpg',
		'pexels-andrea-piacquadio-3811717.jpg',
		'pexels-cottonbro-studio-4918149.jpg',
		'pexels-cottonbro-studio-4918159.jpg',
		'pexels-anna-shvets-5029764.jpg',
		'pexels-gary-barnes-6231809.jpg',
		'pexels-anna-shvets-5231184.jpg',
		'pexels-gary-barnes-6231697.jpg',
		'pexels-anete-lusina-5247971.jpg',
		'pexels-cottonbro-studio-4911744.jpg',
		'pexels-anastasia-shuraeva-5126301.jpg',
		'pexels-anna-shvets-5027607.jpg',
		'pexels-cottonbro-studio-4921252.jpg',
		'pexels-mathieu-gervais-14666143.jpg',
	];
